<!DOCTYPE html>
{% extends "html/base.html" %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block body_block %}
    <h1 align=center>Mobile</h1>
    <ul>
      <li><h2>A mobile phone, cellular phone, cell phone, cellphone, handphone, or hand phone, sometimes shortened to simply mobile, cell or just phone.</h2></li><br>
      <li><h2>A mobile phone is a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a telephone service area.</h2></li><br>
      <li><h2>Mobile phones offering only those capabilities are known as feature phones; mobile phones which offer greatly advanced computing capabilities are referred to as smartphones.</h2></li>
    </ul>
    {% endblock %}
  </body>
</html>
