<!DOCTYPE html>
{% extends "html/base.html" %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block body_block %}
    <h1 align=center>Pen Drive</h1>
    <ul>
      <li><h2>A small electronic device used to store digital data.</h2></li><br>
      <li><h2>Pen Drive also referred as USB flash drive is a portable device.</h2></li><br>
      <li><h2>Pen Drive also known as a Flash memory is an example of NAND style storage device.</h2></li>
    </ul>
    {% endblock %}

  </body>
</html>
